html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#plozaPlaska{
    position: absolute; 
    top: 600px; 
    left: 500px;
    background-color: black;
    width: 300px;
    height: 7px;
}

#plozaPionLewa{
    position: absolute; 
    top: 560px; 
    left: 550px;
    background-color: black;
    width: 7px;
    height: 40px;
}

#plozaPionPrawa{
    position: absolute; 
    top: 560px; 
    left: 750px;
    background-color: black;
    width: 7px;
    height: 40px;
}

#plozaZakrLewa{
    position: absolute;
    top: 542px; 
    left: 485px;
    /* Wygenerował chat*/
    width:40px;
    height:90px;
    border-radius:70%;
      /* conic-gradient tworzy "wycinek" koła */
    background: conic-gradient(black 0deg 90deg, transparent 90deg 360deg);

    mask: radial-gradient(
        farthest-side,
        transparent calc(100% - 6px),
        black calc(100% - 6px)
    );
    rotate: 90deg;
    transform: scaleY(-1);
}


#plozaZakrPrawa{
    position: absolute;
    top: 542px; 
    left: 769px;
    /* Wygenerował chat*/
    width:40px;
    height:90px;
    border-radius:70%;
      /* conic-gradient tworzy "wycinek" koła */
    background: conic-gradient(black 0deg 90deg, transparent 90deg 360deg);

    mask: radial-gradient(
        farthest-side,
        transparent calc(100% - 6px),
        black calc(100% - 6px)
    );
    rotate: 90deg;
}


#body1 {
    position: absolute;
    top: 375px;
    left: 430px;
    width: 450px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
    mask: linear-gradient(
        to bottom,
        transparent 5%, 
        black 5% 93%, 
        transparent 93%);

}

#niebo {
    background-color: lightblue;
    width: 100%;
    height: 538px;
}

#lad {
    background-color: green;
    width: 100%;
    height: 200px;
}
