html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#heli{
    position: relative;
    bottom: 55%;
    left: 30%;
}

#plozaPlaska{
    position: relative;
    top: 260px;
    left: 70px;
    background-color: black;
    width: 300px;
    height: 7px;
}

#plozaPionLewa{
    position: relative;
    top: 220px;
    left: 140px;
    background-color: black;
    width: 7px;
    height: 40px;
}

#plozaPionPrawa {
    position: absolute;
    top: 220px;
    left: 310px;
    width: 7px;
    height: 40px;
    background: black;
}

#body1 {
    position: relative;
    width: 450px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
    clip-path: polygon(
        0% 5%,
        100% 5%,
        100% 93%,
        0% 93%
    );
}

#niebo {
    background-color: lightblue;
    width: 100%;
    height: 55%;
}

#lad {
    background-color: green;
    width: 100%;
    height: 45%;
}

#slonce{
    position: absolute;
    top: 2vh;
    left: 2vh;
    border-radius: 100%;
    background-color: rgb(255, 221, 0);
    height: 30vh;
    width: 30vh;
    box-shadow: 0 0 50px #FFD700;
}
.chmura {
    position: absolute;
    top: 2vh;
    left: 2vh;
    width: 30vh;
    height: 13vh;
    background: white;
    border-radius: 100px;
    margin: 11vh 0 0 11vh;
    opacity: 0.9;
    animation: drift 80s linear infinite;
}

@keyframes drift {
    from { left: -40vh; }
    to { left: 110vw; }
}

.chmura:after, .chmura:before {
    content: '';
    position: absolute;
    background: white;
}

.chmura:after {
    width: 12vh;
    height: 12vh;
    top: -6vh;
    left: 5vh;
    border-radius: 100px;
}

.chmura:before {
    width: 17vh;
    height: 17vh;
    top: -9vh;
    right: 2vh;
    border-radius: 200px;
}
#kabina, #kabina_rama {
    position: absolute;
    top: 50px;
    left: 7px;
    width: 450px;
    height: 200px;
    background: gray;
    border-radius: 50%; 
    clip-path: polygon(
        0% 5%,
        30% 5%,
        30% 60%,
        0% 60%
    );
}

#kabina_rama{
    transform: scale(1.02);
    background-color: black;
}


#okno, #okno_rama {
    position: absolute;
    top: 65px;
    left: 180px;
    width: 80px;
    height: 105px;
    border-radius: 20%;
    background-color: gray;
}

#okno_rama{
    transform: scale(1.06);
    background-color: black;
}

#ogon {
    position: absolute;
    top: 110px;
    left: 360px;
    background-color: yellow;
    width: 500px;
    height: 70px;
    rotate: 10deg;
    border-radius: 20%;
    clip-path: polygon(
        0% 0%,
        0% 100%,
        100% 33%,
        100% 0%
    );
}

#ogonKoniecGora{
    position: absolute;
    top:0px;
    left:830px;
    background-color: yellow;

    border-radius: 30%;
    height: 170px;
    width: 90px;
    clip-path: polygon(
        50% 0%,
        0% 100%,
        100% 100%,
        100% 0%
    );
}


#ogonKoniecDol{
    position: absolute;
    top:155px;
    left:830px;
    background-color: yellow;

    border-radius: 30%;
    height: 130px;
    width: 90px;
    clip-path: polygon(
        50% 0%,
        0% 100%,
        100% 100%,
        100% 0%
    );
    transform: scaleY(-1);
}

#tloSmigla {
    position: absolute;
    top: 125px;
    left: 840px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blad {
    position: absolute;
    width: 8px;
    height: 35px; 
    background-color: black;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
}

/* Ustawienie kątów 5 śmigieł równomiernie co (360/5)deg */
.blad:nth-child(1) { transform: translate(-50%, -100%) rotate(0deg); }
.blad:nth-child(2) { transform: translate(-50%, -100%) rotate(72deg); }
.blad:nth-child(3) { transform: translate(-50%, -100%) rotate(144deg); }
.blad:nth-child(4) { transform: translate(-50%, -100%) rotate(216deg); }
.blad:nth-child(5) { transform: translate(-50%, -100%) rotate(288deg); }

#podstawaSmigla {
    position: absolute;
    bottom: 190px;
    left: 210px;
    background-color: black;
    width: 15px;
    height: 50px;
}

#lopata {
    position: absolute;
    top: 0px;
    left: -129px;
    background-color: black;
    width: 700px;
    height: 13px;
}


#krzyz {
    position: absolute;
    top: 90px;
    left: 300px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    display: grid;
    place-items: center;
    background: conic-gradient(#c8102e 90deg, white 90deg 180deg, #c8102e 180deg 270deg, white 270deg);
    box-shadow: 0 0 5px black;
}